# Core packages
Flask
flask-cors
gunicorn

# Data processing
pandas
numpy
openpyxl

# Google Drive and API Auth
PyDrive
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Build tools to prevent setuptools.build_meta error
setuptools>=42
wheel
